* {
	margin: 0px;
	padding:0px;
}
body {
    font-family: 'Actor';
    background: #eeeefe;
    margin-left: 10px;
    margin-top: 10px;
}

p {
	margin: 2px;
	padding: 0px;
}

.content{
	float: bottom;
}
.block-canvas{
	float: left;
	background: #efeefe;
	
}

.buttons-div{
	float: none;
}
.title{
	font-family: 'Actor';
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sub-title{
	font-family: 'Actor';
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.radio-text{
	font-family: 'Actor';
	font-size: 13px;
	padding: 5px;
}

.radio-button{
	width: 5px;
}
.button-div{
	margin-bottom: 5px;
	margin-top: 5px;	
}
.div-position{
	margin: 10px 0px;
}
.console{
	font-family: 'Ubuntu Mono';
	font-size: 13px;
}

.button{
	border-radius: 4px;
}
.button-text{
	background-color: #555;
	font-family: 'Actor';
	font-size: 14px;
	padding: 4px;
	border: none;
	width: 80px;
	cursor: pointer;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #FFFFFF;
}

.copyright{
	float: top;

	font-family:none;
	font-size: 12px;
}